[Unit]
Description=HotSpot
Wants=NetworkManager.service docker.service
After=NetworkManager.service docker.service graphical.target


[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/home/syntra/Documents/Syntra-Config/start.sh
WorkingDirectory=/home/syntra/Documents/Syntra-Config
User=root

[Install]
WantedBy=graphical.target